<div class="container">
<h1><%= @representative.name %></h1>

<h3>Party: <%= @representative.party %></h3>


<h3>State: <%=@representative.state.name%> </h3>

<a href="/representatives/<%= @representative.id %>/edit"><button class='btn btn-primary'>Edit Representative</button></a>

<br>
<br>

<p><a href="/representatives/<%= @representative.id %>"
  data-confirm="Continue with delete?"
  data-method="delete"
  class="btn btn-danger"
  rel="nofollow">Delete Representatives</a></p>


<p><a href="/representatives">Return to representative listing</a></p>
</div>